.table-logo-container {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 50px;
  }
  
  .table-logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .css-110vr2a-MuiInputBase-input-MuiInput-input:focus
  {
    outline: none !important; /* Removes the outline on focus */
    overflow: unset !important; /* Keeps your existing overflow rule */
    border : none !important;
    box-shadow: none !important;
  }
  .css-12tjcea-MuiInputBase-input-MuiOutlinedInput-input:focus
  {
    outline: none !important; /* Removes the outline on focus */
    overflow: unset !important; /* Keeps your existing overflow rule */
    border : none !important;
    box-shadow: none !important;
  }
  .css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #0f6551 !important;
}
.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #29bb85 !important;
}
.css-1588512-MuiButtonBase-root-MuiButton-root
{
  color: #0f6551;
}